.selector-for-some-widget{
    box-sizing: content-box;
}

body{
    background-color: grey;
}


/* Style the list items */
ol li {

    cursor: pointer;
    position: relative;
    padding: 12px 8px 12px 40px;
    background: #eee;
    font-size: 18px;
    list-style-type: decimal;
    list-style-position: inside;
    right: 10px;
    border-radius: 1px;
}


/* Set all even list items to a different color (zebra-stripes) */
ol li:nth-child(even) {
    background: #f9f9f9;
}

/* Darker background-color on hover */
ol li:hover {
    background: #ddd;
}

/* Style the header */

.header {

    background-color: #850f2c;
    padding: 30px 30px 20px;
    color: white;
    margin: auto;
    text-align: center;
    border-radius: 1em;
    border-bottom: #f9f9f9;
    border-top: #f9f9f9;
    border-top-style: solid;
    border-bottom-style: solid;
}



/* Style the "Add" button */
.addButton{

    top: 10px;
    position: relative;
    display: flex;
    padding: 10px;
    width: 60%;
    color: #555;
    margin: auto;
    text-align: center;
    font-size: 16px;
    cursor: pointer;
    border-radius: 5px;
    justify-content: center;


}
.viewButton{

    top: 10px;
    position: relative;
    display: flex;
    padding: 10px;
    width: 60%;
    color: #555;
    margin: auto;
    text-align: center;
    font-size: 16px;
    cursor: pointer;
    border-radius: 5px;
    justify-content: center;

}

.addButton:hover {
    background-color: #bbb;
}
.viewButton:hover{

    background-color: #bbb;
}

input[type=text] {
    top: auto;
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

.deleteButton{

    font-family: serif;
    text-align: center;
    font-size: 13px;
    cursor: pointer;
    position: absolute;
    right : 15px;
    top: 5px;
    padding: 8px 12px;
    border: 2px solid darkgray;

}

.deleteButton:hover{
    background-color: #bbb;
}

.updateButton:hover{
    background-color: #bbb
}

.updateButton {

    font-family: serif;
    text-align: center;
    font-size: 13px;
    cursor: pointer;
    position: absolute;
    right : 85px;
    top: 5px;
    padding: 8px 12px;
    border: 2px solid darkgray;

}
